/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}
 
html,
body { 
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.form {
  &__field,
  &__button {
    display: block;
    width: 100%;
  }

  &__field {
    margin-bottom: 0.5rem;
  }

  &__button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.mat-radio-button {
  margin: 0.25rem;
}
