@import "src/theme/theme-variables";

.app-private {
  display: block;
  height: 100%;

  .private-sidenav,
  .mat-drawer-backdrop {
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    position: absolute;
  }

  .private-sidenav {
    min-width: 270px;
    max-width: 28%;

    &__list {
      padding-top: 0;
    }

    &__list-item {
      text-decoration: none;
    
      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .private-sidenav-content {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
}

@media ($mat-xsmall) {
  .app-private {
    .mat-sidenav,
    .mat-drawer-backdrop {
      top: 56px;
    }
  }
}
