<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" class="private-sidenav">
      <nav>
        <mat-list class="private-sidenav__list">
          <mat-divider></mat-divider>
          <a mat-list-item class="private-sidenav__list-item" routerLink="/income-and-expenses/dashboard" routerLinkActive="active" (click)="sidenav.close()">
            {{'income-and-expenses.dashboard.title' | translate}}
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item class="private-sidenav__list-item" routerLink="/income-and-expenses/list" routerLinkActive="active" (click)="sidenav.close()">
            {{'income-and-expenses.list.title' | translate}}
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item class="private-sidenav__list-item" routerLink="/income-and-expenses/new" routerLinkActive="active" (click)="sidenav.close()">
            {{'income-and-expenses.new.title' | translate}}
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content class="private-sidenav-content">
      <app-header [sidenav]="sidenav"></app-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
